.categories-part {
    padding: 5rem;
}

.categories-part h3,
.hot-selling-product h3,
.best-selling-product h3 {
    font-size: 3.5rem;
    color: #333333;
    font-weight: 700;
    line-height: 4.5rem;
    max-width: 60rem;
    margin-bottom: 2rem;
}

.categories-part ul {
    column-gap: 6rem;

}

.categories-part ul li {
    list-style: none;
}

.category-info {
    max-width: 22.5rem;
    width: 100%;
}

.categories-part .category-info {

    padding: 20px 10px 0;
}

.categories-part ul li {
    border-radius: 1.6rem;
}

.categories-part ul li:nth-child(1),
.categories-part ul li:nth-child(6) {
    background: #F7F2E6;
}

.categories-part ul li:nth-child(2),
.categories-part ul li:nth-child(4) {
    background: #E5E7F4;
}

.categories-part ul li:nth-child(3),
.categories-part ul li:nth-child(5) {
    background: #D4F6EB;
}

.cate_data {
    padding: 1rem 0rem 0rem 1rem;
}

.cate_data h6 {
    font-size: 1.8rem;
    font-weight: 600;

}

.cate-count p {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    text-decoration: underline;
    text-underline-offset: 5px;
}